#!/bin/bash
set -ex

echo ECS_CLUSTER=${ECS_CLUSTER_NAME} >> /etc/ecs/ecs.config

# Tạo swapfile chỉ khi chưa có
if ! swapon --show | grep /swapfile; then
  sudo fallocate -l 2G /swapfile
  sudo chmod 600 /swapfile
  sudo mkswap /swapfile
  sudo swapon /swapfile
fi


mkdir /home/ec2-user/pgbouncer-data

sudo chown $USER:$USER /home/ec2-user/pgbouncer-data

echo "dev ior2023" > /home/ec2-user/pgbouncer-data/userlist.txt
